/Backup
/Cache
/Index
/Local
/temporary
/Packages/User/Package Control.last-run
/Packages/User/Package Control.cache
/Packages/User/FileHistory.json
Packages/User/FileHistory_*.json
Packages/User/Gist.*
Packages/User/*.cache
